<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vpclub.order.consumer.mapper.AlipayOrderBillMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.vpclub.order.consumer.entityProvider.AlipayOrderBill">
		<id column="id" property="id" />
		<result column="merchant_order_no" property="merchantOrderNo" />
		<result column="occurrence_time" property="occurrenceTime" />
		<result column="income" property="income" />
		<result column="business_type" property="businessType" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_order_no AS merchantOrderNo, occurrence_time AS occurrenceTime, income, business_type AS businessType
    </sql>

	<insert id="insertList" parameterType="cn.vpclub.order.consumer.entityProvider.AlipayOrderBill">
		insert into alipay_order_bill (id,merchant_order_no, occurrence_time, income, business_type)
		values
		<foreach collection="list" item="item" separator =",">
			(#{item.id,jdbcType=BIGINT}, #{item.merchantOrderNo},
			#{item.occurrenceTime}, #{item.income},
			#{item.businessType}
			)
		</foreach>
	</insert>

	<delete id="deletedAll" >
		DELETE FROM alipay_order_bill where 1=1
	</delete>

</mapper>
